*.out
*.snm
*.gz
*.toc
*.aux
*.len
*.nav
*.txt~
Thumbs.db

/doc/doxygen/output

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

